.dashboard-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

.dashboard-card {
  padding: 2rem 2.5rem;
  border-radius: 24px;
}
