<div class="lieu-autocomplete-wrapper">
  <input
    [id]="inputId"
    [name]="inputName"
    type="text"
    class="lieu-input"
    [placeholder]="placeholder"
    [required]="required"
    [value]="inputValue"
    (input)="onInput($any($event.target).value)"
    (keydown)="onKeydown($event)"
    (blur)="onBlur()"
    autocomplete="off"
  />

  <ul class="lieu-dropdown" *ngIf="showDropdown && suggestions.length > 0" role="listbox">
    <li
      *ngFor="let s of suggestions; let i = index"
      class="lieu-option"
      [class.active]="i === activeIndex"
      (mousedown)="select(s)"
      role="option"
    >
      <span class="material-icons lieu-pin">location_on</span>
      {{ s }}
    </li>
  </ul>
</div>
